@using MioSito.Models
@model Info
@{
    ViewData["Title"] = "Index";
}

<h1>Iscriviti</h1>

<form asp-controller="Info" asp-action="Index">
    <div class="form-group">
        Email:  <input asp-for="Email" /> <br />
        Password: <input asp-for="Password" /><br />
        <button type="submit">Invia</button>
    </div>


    <div>Questa è la tua Email @Model.Email</div>
    <div>Questa è la Password @Model.Password</div>

</form>
