@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Alessandro Magno</h1>
        <p>
            È noto anche come Alessandro il Grande, Alessandro il Conquistatore o Alessandro il Macedone. Il termine "magno" deriva dal latino magnus "grande", che traduce il termine greco antico μέγας (mégas). È considerato uno dei più celebri conquistatori e strateghi della storia.

            In soli dodici anni conquistò l'intero Impero persiano, un territorio immenso che si estendeva dall'Asia Minore all'Egitto fino agli attuali Pakistan, Afghanistan e India settentrionale.
        </p>
        <img src="m.jpg" height="150" />
    </div>
